<link rel="stylesheet" href="/css/galery.css">

<div class="container">
    <div class="header">
        <div class="header__group-input">
            <input type="text" placeholder="Busca alguna imagen o mes">
        </div>
        <div class="header-list">
            <h3>Meses</h3>
            <div class="header__list-items">
            <a href="" class="header__item header__item-active" id="todos">todo</a>
            <a href="" class="header__item" id="inicios">inicios</a>
            <a href="" class="header__item" id="primer">primer</a>
            <a href="" class="header__item" id="segundo">segundo</a>
            <a href="" class="header__item" id="tercer">tercer</a>
            <a href="" class="header__item" id="cuarto">cuarto</a>
            <a href="" class="header__item" id="quinto">quinto</a>
            <a href="" class="header__item" id="sexto">sexto</a>
            </div>
        </div>
    </div>

    <div class="grid"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/web-animations-js@2.3.2/web-animations.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/muuri@0.9.3/dist/muuri.min.js"></script>
<script src="/js/galery.js"></script>



