<link rel="stylesheet" href="/css/home.css">

<div class="message">
    {{#each messages}}
        <p>{{message}}</p>
    {{/each}}
</div>

<div class="container">
    <div class="options">
        <div class="options__link"><a href="/galery/add">Galería</a></div>
        <div class="options__link"><a href="/characters/add">Personajes</a></div>
        <div class="options__link"><a href="/topics/add">Temas</a></div>
        <div class="options__link"><a href="/comment/update">Comentarios</a></div>
    </div>
</div>