<link rel="stylesheet" href="/css/index-container.css">

<div class="index-container">
    <div class="index-container__title">
        <h1>Batipromesas</h1>
        <p>orgullo - pasión - fuerza - habilidad - sentimentalismo</p>
    </div>

    <ul class="index-container__list-links">
        <li class="index-container__list-link  animate__animated animate__fadeInDownBig"><a href="#">galería</a></li>
        <li class="index-container__list-link  animate__animated animate__fadeInDownBig right"><a href="#">personajes</a></li>
        <li class="index-container__list-link  animate__animated animate__fadeInDownBig"><a href="#">música</a></li>
        <li class="index-container__list-link  animate__animated animate__fadeInDownBig right"><a href="#">comentarios</a></li>
    </ul>
</div>