<link rel="stylesheet" href="/css/index-container.css">

<div class="message">
    <P>
        SI ERES MARY, INGRESA AL LOGIN CON TU CUENTA CREADA,
        PARA PÚBLICO EN GENERAL ESTA PÁGINA NO ESTÁRA AÑADIENDO
        CONTENIDO HASTA NUEVO AVISO.
    </P>
</div>
<div class="index-container">
    <div class="index-container__title">
        <h1>Batipromesas</h1>
        <p>amor - ga - toxicidad al máximo - tik tok - marvel</p>
    </div>
    <ul class="index-container__list-links">
        <li class="index-container__list-link  animate__animated animate__fadeInDownBig"><a href="/galery">galería</a>
        </li>
        <li class="index-container__list-link  animate__animated animate__fadeInDownBig right"><a
                href="/characters">personajes</a></li>
        <li class="index-container__list-link  animate__animated animate__fadeInDownBig"><a href="/topics">temas</a>
        </li>
        <li class="index-container__list-link  animate__animated animate__fadeInDownBig right"><a
                href="/comment">comentarios</a></li>
    </ul>
</div>