.container{
    max-width: 1000px;
    width: 90%;
    margin: 20px auto;
}

/* HEADER */
.header{
    width: 80%;
    margin: auto;
    padding-top: 1em;
}

.header__group-input input{
    width: 100%;
    border: none;
    border-radius: 10px;
    text-align: center;
    outline: none;
    padding: 1em;
    background: #EAF1EA;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    font-weight: 600;
}

.header-list{
    padding: 1em;
}

.header-list h3{
    font-weight: 900;
    font-size: 30px;
}

.header__list-items{
    padding-top: .5em;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.header__item{
    font-size: 20px;
    flex: 1;
    text-align: center;
    min-width: 100px;
    font-weight: 500;
    color: black;
    transition: .5s ease all;
    padding-bottom: 1em;
    border-bottom: 1px solid transparent;
}

.header__item-active{
    border-bottom: 1px solid black;
}

.header__item:hover{
    font-weight: 900;
}

/* Add galery */
.container__addGalery{
    max-width: 1000px;
    width: 50%;
    margin: 20px auto;
}

.form__addGalery{
    background-color: #eaf1ea; 
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%23676f67' fill-opacity='0.4'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    padding: 1em;
    border-radius: 15px;
}

/* Grid Muuri */
.grid{
    position: relative;
    opacity: 0;
    transition: opacity .5s linear 1s;
}

.grid-active{
    opacity: 1;
}

.item{
    width: 25%;
    padding: 10px;
    display: block;
    position: absolute;
}

.item-content {
    position: relative;
    width: 100%;
    height: 100%;
  }

.item__image{
    width: 100%;
    position: relative;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.image__delete{
    position: absolute;
    top: 10px;
    left: 10px;
    padding: .5em;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s ease all;
}

.image__delete:hover{
    background: black;
    color: whitesmoke;
}

@media screen and (max-width: 768px){
    .item{
        width: calc(50% - 10px);
        margin: 5px;
    }
}

@media screen and (max-width: 576px){
    .item{
        width: 100%;
    }
    
    .header{
        width: 100%;
        margin: auto;
        padding-top: 1em;
    }

    .header__item-active{
        border-bottom: 1px solid transparent;
        font-weight: 800;
    }
    .container__addGalery{
        width: 100%;
    }
}