.overlay-user-wrong{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
}

.overlay-user-wrong__content{
    position: relative;
    max-width: 400px;
    height: 300px;
    margin: 20px;
    padding: 2em;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.overlay-user-wrong__content p{
    color: black;
    text-align: center;
    font-size: 30px;
}

.overlay-user-wrong__content button{
    position: absolute;
    top: -10px;
    right: -10px;
    background: black;
    color: whitesmoke;
    border-radius: 50%;
    padding: 1em;
    cursor: pointer;
}