<link rel="stylesheet" href="/css/form.css">

<div class="form">
    <form action="" method="POST">
        <div class="form__group">
            <input type="text" class="form__input" name="username" placeholder="Usuario">
        </div>
        <div class="form__group">
            <input type="password" class="form__input" name="password" placeholder="Password">
        </div>
        <button type="submit" class="form__button-submit">Ingresar</button>
    </form>
</div>