<link rel="stylesheet" href="/css/form.css">

<div class="form">
    
{{#if activeComments}}
    <form action="/comment" method="POST">
        <div class="form__group">
            <input type="text" class="form__input" name="username" placeholder="Nombre de usuario">
        </div>
        <div class="form__group">
            <textarea name="description" class="form__textarea"
             rows="5" placeholder="Escribe un descripción"></textarea>
        </div>
        <div class="form__group-submit form__button-submit-short">
            <button type="submit" class="form__button-submit">Enviar</button>
        </div>
{{else}}
    <form action="/login" method="POST">
        <div class="form__group">
            <input type="text" class="form__input" name="username" placeholder="Usuario">
        </div>
        <div class="form__group">
            <input type="password" class="form__input" name="password" placeholder="Password">
        </div>
    <button type="submit" class="form__button-submit">Ingresar</button>
{{/if}}
    </form>
</div>

