{{#if navIndex}}
<link rel="stylesheet" href="/css/navIndex.css">
<div class="nav">
    <ul class="nav__list-circles">
        <li class="nav__item-circle"></li>
        <li class="nav__item-circle"></li>
        <li class="nav__item-circle"></li>
    </ul>

    <ul class="nav__list-links">
        <li class="nav_list-item-login"><a href="/login">Iniciar Sesión :3</a></li>
    </ul>
</div>
{{else}}
<link rel="stylesheet" href="/css/navGeneral.css">
<div class="nav">
    <ul class="nav__list-circles">
        <li class="nav__item-circle"></li>
        <li class="nav__item-circle"></li>
        <li class="nav__item-circle"></li>
    </ul>

    <ul class="nav__list-links">
        <li class="nav__link"><a href="/">inicio</a></li>
        <li class="nav__link"><a href="">galería</a></li>
        <li class="nav__link"><a href="">personajes</a></li>
        <li class="nav__link"><a href="">música</a></li>
        <li class="nav__link"><a href="">comentarios</a></li>
    </ul>
</div>
{{/if}}

